*.DS_Store
node_modules/
dist/
artifacts-*.png
back.png
front.png
map.png
hildr.png
debug-game*.js
*.blend
*.blend1
Meshy_AI_Shieldmaiden_of_the_N_0514193730_texture.glb
assets/models/hildr.glb
assets/models/hildr.blend
assets/models/hildr.blend1
assets/models/shieldmaiden.glb
assets/models/shieldmaiden_rigged.blend
assets/models/shieldmaiden_rigged.blend1
docs/README.md
docs/ROADMAP.md
